<nav class= "navbar navbar-expand-lg navbar-dark bg-dark ">
  <a class="navbar-brand" href="#"><span style="color: #FF0040">BLU</span>LOGIX</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" *ngFor="let pag of pages" (click)="getRoute()">
        <a class="nav-link" routerLink="/{{pag.routerLink}}">{{pag.name}}</a>
        <div *ngIf="pag.active" [ngClass]="{'li-active-style': pag.active===true}"></div>
      </li>
    </ul>
  </div>
</nav>
<div class="row">
  <h2 class="title">{{path}}</h2>
</div>
