.title{
    margin-top: 50px;
    border-left-color: #FF0040;
    border-left-style: solid;
    margin-left: 26px;
    padding-left: 10px;
    border-left-width: 7px;
}
.row {
    margin-right: 9px;
    margin-left: 11px;
}